body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sottotitolo {
    color: #004D4C;
    background-color: #FDFBF1;
    border-top-style: solid;
    border-top-color: #FFD877;
    text-align: center;
    width: 100%;
    height: 50px;
}

.center {
    text-align: center;
}

.colonna {
    width: 50%;
    margin: 0 auto;

}

.video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#p1 {
    text-align: justify;
}

#p2 {
    color: #999999;
    text-align: center;
}

.sottotitolo2 {
    color: #B5460F;
    border-left-color: #FFD877;
    border-left-style: solid;
    padding-left: 5px;
}

.sottotitolo2 p {
    margin: 0;
}

h2 {
    padding-bottom: 15px;
    border-bottom-color: #7BD5D5;
    border-bottom-style: solid;

}

a {
    color: #107777;
}

a:visited {
    color: #107777;

}

.lista {line-height: 2.5em;}
.ingredienti {padding-top: 40px;}